body {
  overflow: hidden !important;
  height: 100vh;
  width: 100vw;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#root,
html {
  overflow: hidden !important;
  width: 100vw;
}

#wheel {
  width: 100vw;
  overflow: hidden;
  padding-left: 22%;
}

.spin-container {
  height: 80vh;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
#canvas {
  width: 130%;
  /* height: 390px; */
  /* aspect-ratio: auto 22 / 22 !important; */
}
.spin-button {
  width: 100%;
  background: #222;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 30px;
  padding: 1rem 12px;
}

.wheel {
  display: block;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 8px 12px;
  margin-top: 1rem;
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6px;
}
.buttons button {
  border-radius: 50%;
  border: 1px solid #222;
  color: #222;
  min-height: 55px;
  min-width: 55px;
  background: #fff;
  outline: none;
}
